.nav {
  background-color: rgb(40, 40, 40);
}

h1 {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.cardProducto {
  width: 18rem;
  margin: 10px;
  background-color: rgba(167, 167, 167, 0.342);
  border-radius: 10px;
}

.cardBody {
  background-color: white;
  margin-bottom: 3px;
  text-align: center;
  border-radius: 10px;
}

.cardBodyDark {
  background-color: hsl(0, 0%, 3%);
  margin-bottom: 3px;
  text-align: center;
  border-radius: 10px;
}

.cardCartBody {
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}

img {
  margin-top: 10px;
}

.cardProductos {
  margin: 4px;
  align-items: center;
  justify-content: center;
}

.itemDetail {
  max-width: 540px;
  margin-top: 20px;
  border-radius: 10px;
}

.itemDetailBodyDark {
  background-color: hsl(0, 0%, 3%);
  color: white;
  margin: 1.5px;
  border-radius: 10px;
}

.cantCarrito {
  background-color: red;
  color: white;
  padding: inherit;
  margin: -17px;
}

.darkMode {
  background-color: hsl(0, 0%, 3%);
  color: gainsboro;
}

.boton {
  border-radius: 10px;
}

.cartContainer {
  margin-left: 26,5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divButtons button {
  margin: 4px;
}

.cardCart {
  max-width: 680px;
  padding-left: 13px;
  padding-bottom: 13px;
}

.footerRedes {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footerRedes li {
  margin: 30px;
}

.rojo {
  color: red;
}

.blanco {
  color: gainsboro;
}

.negro {
  color: rgb(0, 0, 0);
}

.bottom {
  margin-top: 20px;
  margin-bottom: 35px;
}

.contador {
  margin-left: 15px;
  margin-right: 15px;
}

.centrar {
  margin-left: 0.2%;
  margin-top: 10%;
  margin-bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}